*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
}
.content_box{
    width:980px;
    margin: 0 auto;
    margin-top: 43px;
}
.content_Box_list{
    border: 1px solid #CCC;
    margin-bottom: 20px;
    width: 95%;
    display: block;
    clear: both;
    overflow: hidden;
}
.content_Box_list:hover{
    box-shadow: 0 0 3px #ccc;
}
.ct_pic{
    width: 471px;
    float: left;
    display: block;
    height: 410px;
}
.ct_pic_big{
    width: 450px;
    border: 1px solid #ccc;
}
.ct_pic_big img{
    width: 100%;

}
.ct_pic_bottom_small{
    width: 450px;
}
.ct_pic_bottom_small span{
    width:123px;
}
.ct_pic_bottom_small span img{
    width:103px;
}
.ct_titleAndContent{
    margin: 20px 0 20px 10px;
    width:450px;
    float:left;
    *float:right;
    position: relative;
    *top:-820px;
}
.cbl_table{
    min-height: 950px;
    *height:1050px;

}
.cbl_table:after{
    zoom: 1;
    clear: both;
}
.ct_title{

    border-bottom: 1px solid #ccc;
}
.ct_title H5{
    text-decoration: none;
    color: #0065bb;
    font-family: "微软雅黑";
    font-size: 25px;
    font-weight: 500;
    line-height: 70px;

}
.ct_specialPlace{
    color:rgb(67, 76, 15);
    font-family: "微软雅黑";
    font-size: 13px;
    font-weight: 400;
}
.ct_content p{
    color: rgb(30, 125, 232);
    font-family: "微软雅黑";
    font-size: 15px;
    font-weight: 400;
    padding-left: 60px;
    position: relative;
    top: -24px;
    line-height: 30px;
}
.ct_totalPrice{
    padding: 10px 0 20px 50px;
    color: darkgreen;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 20px;
    position: relative;
    top: -35px;
    left: 31%;
    *left:81%;
}
.ctt_prime{
    color:palevioletred;
    font-size: 30px;
}
.ct_date{
    border: 1px solid #ccc;
    width: 469px;
    float: left;
    display: block;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: 400;
    margin-right: 30px;
    position: absolute;
    top: 560px;
    *position:relative;
    *top:10px;

}
.ct_date_month{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    background-color: #6BC2FA;
}
.ct_date_month span{
    color:black;
}
.ct_date_week{
    text-align: center;
    margin:0 auto;
    width: 100%;

}
.ct_date_week li{
    list-style: none;
    float: left;
    width:66px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    border-right:1px solid #ccc ;
}
.ct_date_day{
    clear: both;
    font-size: 12px;
    font-family: "微软雅黑";
    font-weight: 400;
}
.ct_date_day table{
    empty-cells:show;
    border-collapse: collapse;
    text-align: left;
}
.ct_date_day td{
    width:66px;
    padding:2px 0 4px 2px;
    border: 1px solid #ccc;


}
.ct_date_day td span{
    display: block;
    padding-top:13px;
    color:#ff6000;
}
.ct_detail{
    border-top:1px solid #ccc;
    display: block;
    margin-bottom: 20px;
    clear: both;
}
.ct_detail_title{
    background-color:#5BA81D;
    padding: 10px 0 10px 10px;
    color: #ffffff;
}
.ctdc_list{
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
}
.ctdc_list h4{
    display: block;
    font-family: "微软雅黑";
    font-size: 17px;
    color: #A18701;
    padding:10px 0 20px 20px;
}
.ctdc_list h5{
    display: block;
    font-family: "微软雅黑";
    font-size: 12px;
    float: right;
    color: #740860;
    padding:10px  20px 20px 0 ;
}
.ctdc_list img{
    width: 98%;
    margin:0 auto;
    display: block;
    box-shadow: 0 0 8px #ccc;
    margin-bottom: 6px;

}
.ctdc_list p{
    font-family: "微软雅黑";
    font-size: 13px;
    padding:10px 0 20px 10px;
    text-indent: 2em;
    line-height: 30px;
}
.ct_booking{
    border-top: 1px solid #ccc;
    padding-top: 30px;
    width:440px;
}
.ctb_name{
    font-family: "微软雅黑";
    font-size: 13px;
}
.ct_booking label{
    display: block;
}
.ct_booking dl{
    clear: both;
}
.ct_booking span{
    padding: 5px;
    font-family: "微软雅黑";
    font-size: 13px;
    margin-right: 9px;
    position: relative;
    top: -22px;
    left: 70px;
    width: auto;
    height: 20px;
    float: left;

}
.ctb_book{
    background-color: #e15517;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 18px;
    width: 138px;
    padding: 10px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
    margin-left: 24px;
    position: relative;
    top:-10px;

}
.ctb_num{
    width:60px;
    padding:3px 0 3px 18px;
    text-align: center;
    font-size: 17px;
    position: relative;
    top:-10px;
}
.ctb_book:active{
    background-color: #e19c2b;

}
.ct_date_month_select{
    width: 80px;
    border: 0px;
    background-color: #6BC2FA;
    color: #ffffff;
}
.ct_arrow_left{
    background-image: url("../images/ct_arrow_left.png");
    width: 21px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
}
.ct_arrow_right{
    background-image: url("../images/ct_arrow_right.png");
    width:35px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
}
.ct_date_monthAndDay{
    position: relative;
    top:-7px;
}
.photo_exp_box{
    background-color: #fff;
    padding: 0 2px 0px 2px ;
    clear: both;
    border-top: 1px solid #eee;
    border: 1px solid #f1f1f1\9;
    box-shadow: 0 0 2px #343527;
    -webkit-box-shadow: 0 0 2px #343527;
    height: 407px;
    overflow: hidden;
}
.big_pic{
    height: 80%;
}
.big_pic img{
    width: 100%;
    height: 100%;
}
.small_pic_list{
    margin: 0 auto;
    position: relative;
    top: -6px;
    width: 1120px;
}
.small_pic_list ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.small_pic_list ul li img{
    width: 97px;
    height:65px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 5px #343527;
    -webkit-box-shadow: 0 0 5px #343527;
}

.arrow_right{
    position: relative;
    top:-170px;
    font-size: 49px;
    left:397px;
    font-weight:900;
    display: inline-block;
    cursor: pointer;
    color: aqua;
}
.arrow_left:hover{
    box-shadow: 0 0 5px #343527;
    -webkit-box-shadow: 0 0 5px #343527;

}
.arrow_left{
    font-size: 49px;
    position: relative;
    top:-170px;
    left:10px;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    color: aqua;
}
.arrow_right:hover{
    box-shadow: 0 0 5px #343527;
    -webkit-box-shadow: 0 0 5px #343527;
}
#list_num{
    position: relative;
    top: -50px;
    left: 24px;
}
.arrow_left_small{
    font-size: 34px;
    position: relative;
    top: 16px;
    left: -3px;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    color: #0CAD0E;
    width: 20px;
    border: 1px solid #ccc;
    height: 65px;
    line-height: 70px;
    z-index: 9;
    background-color: #ffffff;
}
.arrow_left_small:hover{
    box-shadow: 0 0 5px #ccc;
}
.arrow_right_small{
    font-size: 34px;
    position: relative;
    top: 16px;
    left: 418px;
    *left: 423px;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    color: #0CAD0E;
    width: 20px;
    border: 1px solid #ccc;
    height: 65px;
    line-height: 70px;
    z-index: 9;
    background-color: #ffffff;
}
.arrow_right_small:hover{
    box-shadow: 0 0 5px #ccc;
}
.close_btn span{
    position: relative;
    top: -490px;
    left: 600px;
    font-weight: lighter;
    font-size: 42px;
    font-family: "微软雅黑";
    display: inline-block;
    cursor: pointer;
}
.close_btn span{

}